## Visual Studio temporary files, build results, and user-specific files
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options directory
.vscode/
.idea/
